.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ==================================== */

html {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 26px;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

body {
  color: #999;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

/* header */

.page-header {
  margin-bottom: 130px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #95e1d3;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
  transition: color 0.3s linear;
  animation-name: logo-jump;
  animation-duration: 1.2s;
  animation-timing-function: linear;
}

.logo:hover {
  color: #f38181;
}

@keyframes logo-jump {
  0% {
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(0px);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;
  flex: 0 1 490px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  position: relative;
}

.nav__link {
  color: #95e1d3;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s linear;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #f38181;
  transform: scale(0);
}

.nav__link:hover {
  color: #f38181;
}

.nav__link:hover::after {
  display: block;
  transform: scale(1);
  transition: transform 0.3s linear;
}

/* services-section */
.page-main {
  flex-grow: 1;
}
.services {
  margin-bottom: 98px;
}

.section-title {
  color: #333;
}

.sup-title {
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.title {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
}

.title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 38px auto 0;
}

.section-title__services {
  margin-bottom: 64px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__item {
  position: relative;
  flex: 0 0 330px;
}

.services__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 100px;
}

.services__description {
  padding-left: 60px;
}

.services__description::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
}

.services__description__alarm::before {
  background-image: url(/img/icon-services/ALARM.png);
}
.services__description__book::before {
  background-image: url(/img/icon-services/BOOK.png);
}
.services__description__computer::before {
  background-image: url(/img/icon-services/COMPUTER_OK.png);
}
.services__description__home::before {
  background-image: url(/img/icon-services/HOME.png);
}
.services__description__image::before {
  background-image: url(/img/icon-services/IMAGE.png);
}
.services__description__line::before {
  background-image: url(/img/icon-services/LINE-GRAPH.png);
}

.services__title {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.services__text {
  margin: 0;
  padding: 0;
}

/* team-section */

.team {
  margin-bottom: 80px;
}
.section-title__team {
  margin-bottom: 44px;
}

.team__text {
  max-width: 942px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 90px;
}
.team__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.team__item {
}

.team__card {
  background-color: #95e1d3;
}

.team__card-cont {
  position: relative;
  margin-bottom: 30px;
  transition: transform 0.3s linear;
}

.team__image {
}
.team__name {
  margin: 0 0 10px;
  padding: 0;
  color: #333;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 12px;
  text-align: center;
}
.team__ocupation {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

/* team-social */

.social {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.81) 0%,
    rgba(243, 129, 129, 0.81) 100%
  );
  box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.35);
  transition: opacity 0.3s linear 0.1s;
}

.social__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 1px;
}

.social__link {
  display: block;
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  background-position: center;
  background-repeat: no-repeat;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.facebook {
  background-image: url(/img/icon-social/facebook.png);
}
.twitter {
  background-image: url(/img/icon-social/twitter.png);
}
.pinterest {
  background-image: url(/img/icon-social/pinterest.png);
}
.instagram {
  background-image: url(/img/icon-social/instagram.png);
}

.social__link:hover {
  background-color: #95e1d3;
}

.team__card:hover .social {
  opacity: 1;
}

.team__card:hover .team__card-cont {
  transform: translate(-10px, -10px);
}

/* footer */

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid #e5e5e5;
}

.footer__text {
  font-family: Montserrat;
  font-size: 14px;
  color: #333;
}

.footer__link {
  text-decoration: none;
  color: #f38181;
  padding-left: 5px;
}

.footer__feedback {
  font-size: 0;
}

.footer__input {
  padding: 0;
  width: 230px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  color: #ccc;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
}

.footer__button {
  padding: 0;
  border: 0;
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.footer__button:hover {
  background-color: #f38181;
}
