body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: teal;
}

h1 {
  position: absolute;
  top: 12.5rem;
  margin: 0;
  color: white;
  font-family: 'JetBrains Mono';
  font-size: 2.5rem;
  text-align: center;
  animation: title-anim 1s linear;
}

p {
  position: absolute;
  top: 18.75rem;
  margin: 0;
  color: white;
  font-family: 'JetBrains Mono';
  font-size: 1.25rem;
  text-align: center;
  animation: text-anim 1s linear;
}

@keyframes title-anim {
  0% {
    transform: translatey(-6.25rem);
    color: green;
  }
  50% {
    transform: translatey(0rem);
    transform: rotate(360deg);
    font-size: 3.75rem;
    color: yellowgreen;
  }
  100% {
    transform: rotate(0);
    font-size: 2.5rem;
  }
}

@keyframes text-anim {
  0% {
    transform: translatex(-62.5rem);
    color: green;
  }
  50% {
    transform: translatey(0rem);
    transform: scale(1.2);
    font-size: 1.875rem;
    color: yellowgreen;
  }
  100% {
    transform: scale(1);
    font-size: 1.25rem;
  }
}
