html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 1110px;
  margin: 0 auto;
  margin-top: 38px;
}

/* Page-header */

.page-header {
  margin-bottom: 104px;
}

.page-navigation {
  width: 491px;
  list-style: none;
  float: right;
  margin-top: 11px;
}

.navigation-list {
  float: left;
}

.navigation-list:not(:last-child) {
  margin-right: 35px;
}

.page-logo {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  line-height: 32px;
  color: #555252;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  float: left;
}

.page-logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.page-logo:hover,
.page-logo:focus {
  color: #1abc9c;
}

.page-navigation a {
  display: block;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 0.786;
  font-weight: 700;
  color: #0f0101;
}

.page-navigation a:hover,
.page-navigation a:focus {
  color: #1abc9c;
}

/* Gallery section */

.gallery-saction {
  margin-bottom: 104px;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: #515151;
  font-size: 48px;
  line-height: 32px;
  font-weight: 900;
  text-align: center;
  margin: 0;
  margin-bottom: 92px;
}

h2::after {
  content: "";
  display: block;
  background-color: #1abc9c;
  width: 164px;
  height: 7px;
  margin: 0 auto;
  margin-top: 32px;
}

.gallery-list {
  list-style: none;
}

.gallery-list-item {
  width: 255px;
  min-height: 322px;
  float: left;
}

.gallery-list-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.gallery-list-item:not(:nth-last-child(-n + 4)) {
  margin-bottom: 30px;
}

.product-item {
  display: block;
}

.product-item:hover .ocupation {
  background-color: #1abc9c;
}
.product-item:hover .product-price {
  background-color: #1abc9c;
}
.product-item:focus .ocupation {
  background-color: #1abc9c;
}
.product-item:focus .product-price {
  background-color: #1abc9c;
}

.product_pic_box {
  height: 282px;
  text-align: center;
  line-height: 282px;
  background-color: #e9f0fd;
}

.product_img {
  display: inline-block;
  vertical-align: middle;
  object-fit: cover;
  max-height: 250px;
  
}

.ocupation {
  background-color: #323232;
  height: 40px;
}

.product-ocupation {
  margin: 0;
  float: left;
  padding-left: 13px;
}
.product-price {
  float: right;
  width: 54px;
  height: 100%;
  background-color: #8c8c8c;
  text-align: center;
}

.product-ocupation,
.product-price {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 32px;
  font-weight: 900;
  color: #ffffff;
  text-decoration: none;
  padding-top: 5px;
}

/*  Blog-section */

.blog-section {
  margin-bottom: 80px;
}

.blog-list {
  list-style: none;
}

.blog-item {
  width: 350px;
  float: left;
}

.blog-item:not(:last-child) {
  margin-right: 30px;
}

.blog {
  font-family: "Open Sans", sans-serif;
  color: #555252;
}

.blog-photo {
  margin-bottom: 14px;
}

.blog-ocupation {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 26px;
}

.blog-ocupation::after {
  content: "";
  display: block;
  background-color: #4ec6ab;
  width: 136px;
  height: 3px;
  margin-top: 11px;
}

.blog-text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 12px;

}

.expand {
  border: 0;
  padding: 16px 46px;
  border-radius: 3px;
  background-color: #4ec6ab;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  color: #ffffff;
  cursor: pointer;
}

.expand:hover {
  content: "";
  background-color: #1abc9c;
}