// fonts
$font-stack-montserrat: 'Montserrat', 'Arial', sans-serif;
$font-stack-roboto: 'Roboto', 'Arial', sans-serif;
$font-stack-kaushan: 'Kaushan Script', 'Arial', sans-serif;
$main-text-size: 15px;
$main-text-height: 24px;

// Color
$primary-white-color: #ffffff;
$primary-dark-color: #999999;
$secondary-dark-color: #333333;
$primary-accent-color: #fce38a;
$secondary-accent-color: #f38181;
$tertiary-accent-color: #95e1d3;

